@font-face {
    font-family: 'ScoreFont';
    src:  url('fonts/Heavy_Font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#redScore
{   
    position: relative;
    width: 49vw;
    height: 50vh;
    font-size:2em;
    background:rgb(192, 59, 59);
    float:left;
}
#blueScore
{
    position: relative;
    width: 49vw;
    height: 50vh;
    font-size:2em;
    background:rgb(70, 70, 146);
    float:right;
}

.points
{
    font-family:'ScoreFont'; 
    position: relative;
    width:25vw;
    font-style: bold;
    font-size:8.3em;
    color:white;
    text-align: center;
}

.advantage
{
    font-family:'ScoreFont'; 
    position: relative;
    width:13vw;
    font-style: bold;
    font-size:6em;
    color:rgb(198, 255, 187);
    text-align: center;
}

.penalty
{
    font-family:'ScoreFont'; 
    position: relative;
    width:10vw;
    font-style: bold;
    font-size:5em;
    color:rgb(255, 195, 195);
    text-align: center;
}
#matchInfo
{
    font-family:'ScoreFont';
    width: 100vw; 
    font-style: bold;
    text-align: left;
    font-size:3.5em;
    color:white;
}

#stage
{
    font-family:'ScoreFont';
    width: 40vw; 
    text-align: left;
    font-size:3.5em;
    color:white;
}

#time
{
    font-family: 'ScoreFont';
    color:white;
    font-size:12em;
    position: relative;
}



#body{
    width: 100%;
    background: rgb(29, 29, 29);
}

.pointsButton:hover{

    color:rgba(107, 236, 72, 0.701);
  
}

.pointsButton{
    font-family: 'ScoreFont';
    color:rgb(223, 223, 223);
    background:rgba(42, 42, 42, 0.319);
    border: none;
    padding: 8px 20px;
    font-size: 25px;
    font-style: bold;
}


#blueAthlete
{
    font-family:'ScoreFont';
    font-style: bold;
    text-align: left;
    font-size:2em;
    color:white;
}
#redAthlete
{
    font-family:'ScoreFont';
    font-style: bold;
    text-align: right;
    font-size:2em;
    color:white;
}


.timerButtons:hover{

    color:rgba(107, 236, 72, 0.701);
  
}

.timerButtons{
    font-family: 'ScoreFont';
    color:rgb(223, 223, 223);
    background:rgba(42, 42, 42, 0.319);
    border: none;
    padding: 10px 25px; 
    font-size: 20px;
    text-align:left;
    margin:0 auto;

}


